.qualm{
  color: #f3aa15;
  font-family: 'Great Vibes', cursive;
}
.navbar-default .navbar-brand {
    color: #f3aa15;
    background-color: #3F51B5;
}
.navbar-brand{
  font-family: 'Great Vibes', cursive;
}
.navbar-inverse .navbar-brand {
  color: #f3aa15;
  font-family: 'Great Vibes', cursive;
  background-color: #3F51B5;
}
.navbar-inverse {
    background-color: #3F51B5;
    border-color: #3F51B5;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #3F51B5;
}
.navbar-default .navbar-nav>li>a {
    color: #f3aa15;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #f3aa15;
    background-color: #3F51B5;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid #3F51B5;
    border-radius: 0px !important;
}
a {
   background-color: #3F51B5;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #3F51B5;
}
#bs-example-navbar-collapse-1, .collapse navbar-collapse{
  background-color: #3F51B5;
}
.container-fluid {
     padding-right: 0px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
body{
  font-family: "Open Sans", "Alef Hebrew", helvetica, sans-serif;
  font-weight: lighter;
}
h1{
  color: #FFBC2F;
}
img{
  height: 50vh;
  width: 10vw;
}
